.root{
    margin: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.conteiner-pokemon{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;

    
}
img{
    width: 180px;
    height: 180px;
}